nav{
    width: 90%; /* não importa o tamanho da tela, o nav vai ocupar sempre 80% */
    margin: 2cm, auto; /* cima/baixo, direita/esquerda*/
    display: flex; /* o alinhamento entre os elemnetos do nav */
    justify-content: space-around; /* espaço entre os elementos - evenly - around -between (o mais loonge entre os elementos)  */
    background-color: #999;
}

h1{
    margin-left: 4.5rem;
    color: var(--text-primary);
    font-size: 3.2rem; 
    /* outra unidade de medida pro PX - 
    em -pega a base do elemento pai- 
    rem - leva como base o patrao do htlm 
    1em = 16px - 2em = 32px
     */
    height: 6rem;
    text-align: right;

   
}

.on{ /* ID usa # - só existe um - class usa .  - repete */
    color: var(--color-primary);
}
.eventos{
    display:block;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-right: 1.5rem;
     margin-left: auto;
    font-size: 1.5rem;
text-align: right;

}

ul{
    display: flex;
    list-style: none; /* retira os pontos da lista */
    height: 5rem;
    align-items: center; /* alinha os itens no centro */
}

a{
    text-decoration: none; /* retira o sublinhado */
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 3rem;
    text-transform: uppercase; /* deixa o texto em maiúsculo */
   transition:  margin 0.5s ease; 
    /* responsavel por nao eixar carregar primeiro o azul/ color = cor do texto / margin = espaçamento */ /* tempo de transião/ Fica uma transião sutil de quando o mouse passa em cima aos poucos fica da cor*/
}

a:hover{ /* quando o mouse passar por cima do link */
    color: var(--color-secondary);
    margin-left: 5rem; /* exemplo: aumenta o espaçamento no hover */
}

.empresa{
    color: var(--color-primary);
}