
@import "./css/_base.css"; /* importa toda a base - o ponto é pq está na mesma pasta */
@import "./css/_variaveis.css"; /* importa o {} de variaveis */
@import "./css/_nav.css"; /* importa o arquivo _layout.css - o ponto é pq está na mesma pasta */
@import "./css/_footer.css";
@import "./css/_header.css";

/*separar todos as variaões que podem ser usadas em todo site */


.section1{
    /*position: relative;  para o z-index funcionar */
    width: 100%;
    height: 60rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr; /*a colina 3 ocupa 5 espaços em relação ao espaço*/
}

.section1 > h4{ 
    /*position: absolute;  tira o elemento do fluxo normal da página */
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 10rem;    
    grid-column: 2;
}

.section1 > h4 > small{
    margin-top: 4rem; 
    display: block;
    font-weight: 400;
    line-height: 2.5rem; /* espaçamento entre as linhas */
}

.section1 > img{
     width: 45rem;
    height: 60rem;
    top: 6.5rem;
    right: 30rem;
    margin-left: 10rem;
}

.section1 > div{
    position: absolute;
    margin-top: 2rem;
    right: 15rem; 
    
}

.section2{
    background-color: var(--color-secondary);
    height: 56.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section2 > h4{
    font-size: 2.5rem;
    font-weight: 800;
}

.section3 {
    margin-top: 2rem;
    height: 83.7rem;
    grid-template-columns: 1fr 1fr  1fr;
    align-items: center;
    justify-self: center;
    grid-template-columns: 1fr;
}

.section3 > div {
    align-items: center;
}